{% extends 'base.html' %}

{% block self_head_css_js %}
<link rel="stylesheet" type="text/css" href="/static/css/xcConfirm.css"/>
<script type="text/javascript"  src="/static/js/xcConfirm.js" charset="utf-8"></script>
{% endblock %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-11">
		    <div class="ibox float-e-margins">
			    <div class="ibox-title">
					<h5>创建发布作业</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
				  <div id="wizard">
					<ul>
						<li><a href="#tab1" data-toggle="tab"><span class="label">1</span> 创建发布清单</a></li>
						<li><a href="#tab2" data-toggle="tab"><span class="label">2</span> 选择发布主机</a></li>
						<li><a href="#tab3" data-toggle="tab"><span class="label">3</span> 执行发布任务</a></li>
					</ul>
					<div class="hr-line-dashed"></div>
					<form id="form" name="checkform" method="post" class="form-horizontal">
						{% csrf_token %}
                        <div class="tab-content">

							<div class="tab-pane" id="tab1">
                                <h4 class="widget-head-color-box">发布任务信息</h4>
								<div class="hr-line-dashed"></div>
								 <div class="form-group">
                                    <label class="control-label col-sm-2 col-lg-2">选择业务类型</label>
									<div class="col-sm-10 col-lg-10">
                                        <select id="app_type" name="app_type" class="form-control selectpicker" data-live-search="true">
											<option value="" selected>--请选择--</option>
											{% for app_type, name in app_type_dict.items %}
												{% if app_type in play_app_type %}
													<option value="{{ app_type }}">{{ name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2 col-lg-2">选择发布程序</label>
                                      <div class="col-sm-10" id="service_id">
                                        <div class="form-control" id="add_service" style="height:40px;">
                                           <p id="service">
                                            </p>
                                        </div>
                                      </div>
                                </div>
								<div class="form-group">
                                    <label class="control-label col-sm-2 col-lg-2">执行主机分组</label>
                                      <div class="col-sm-10" id="ab_group_id">
                                        <div class="form-control" id="add_ab_group" style="height:40px;">
                                           <p id="ab_group_p">
                                            </p>
                                        </div>
                                      </div>
								</div>
								<div class="hr-line-dashed"></div>
								<h4 class="widget-head-color-box">程序配置信息</h4>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
								<label class="control-label col-sm-2 col-lg-2">程序配置文件</label>
                                    <div class="col-sm-10 col-lg-10">
                                    <select id="config" name="config" class="form-control selectpicker" data-live-search="true" onchange="getfile()">
										<option value="" selected>--请选择--</option>
									{% for config in play_config %}
										<option value="{{ config }}">{{ config}}</option>
									{% endfor %}
									</select>
                                    </div>
								</div>
								<div class="form-group">
								    <div class="col-sm-10 col-sm-offset-2">
								      <textarea id="config_id" name="config_text" class="form-control" rows="30" style="display:none"></textarea>
									</div>
								</div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-5">
										<input  type="button" id="save_id" class="btn btn-sm btn-primary" name="save_id" value="保存配置">
										<input  type="button" id="preview_id" class="btn btn-sm btn-info" name="preview_id" value="配置差异对比">
                                    </div>
                                </div>
								<div class="hr-line-dashed"></div>
								<ul class="pager wizard">
									<li class="next"><a href="#">下一步</a></li>
								</ul>
							</div>
							<div class="tab-pane" id="tab2">
								<h4 class="widget-head-color-box">选择发布主机</h4>
								    <div class="hr-line-dashed"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">选择发布主机</label>
										<div class="col-lg-4">
											<select id="host_id" name="host" size="12" class="task_input" multiple>
											{% for host in hosts %}
												<option value="{{ host.private_ip }}">{{ host.hostname }}</option>
											 {% endfor %}
											</select>
										</div>
										<div class="col-xs-1">
											<div class="btn-group" style="margin-top: 50px;">
												<button type="button" class="btn btn-white" onclick="move('host_id', 'host_id_select')"><i class="fa fa-chevron-right"></i></button>
												<button type="button" class="btn btn-white" onclick="move('host_id_select', 'host_id')"><i class="fa fa-chevron-left"></i> </button>
											</div>
										</div>
										<div class="col-lg-4">
											<div>
												<select id="host_id_select" name="host_id_select" class="task_input" size="12"  multiple>
												</select>
											</div>
										</div>
									</div>															
								<div class="form-group">
								<label class="col-sm-2 control-label">是否单独重启</label>
                                    <div class="col-sm-10">
										<input type="radio" name="switch" value="y"><span style="margin-left: 10px;">重启</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
										<input type="radio" name="switch" value="n"><span style="margin-left: 10px;">不重启</span>
                                    </div>

								</div>
								<div class="hr-line-dashed"></div>
								<ul class="pager wizard">
									<li class="next"><a href="#">下一步</a></li>
								    <li class="previous"><a href="#">上一步</a></li>

								</ul>
							</div>

							<div class="tab-pane" id="tab3">
								<div class="form-group">
									<label class="control-label col-sm-2 col-lg-2">Task__id:</label>
									<div class="col-sm-10 col-lg-10">
										<input type="button" id="task_id" name="tasks" class="task_result" value="" style="text-align: left" />
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2 col-lg-2">任务状态:</label>
									<div class="col-sm-10 col-lg-10">
										<input type="button" id="status_id" name="task_status" class="task_result" value="" style="text-align: left" />
									</div>
								</div>
								<div class="form-group" id="result">
									<label class="control-label col-sm-2 col-lg-2">执行日志:</label>
									<div class="col-sm-10 col-lg-10">
									<textarea class="task_result" rows="20" id="task_result" disabled> </textarea>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-10 col-lg-10">
										<input type="button" id="start_id" class="btn btn-xs btn-primary col-md-offset-5" value="执行任务" />
										<input type="button" id="stop_id" class="btn btn-xs btn-danger col-md-offset-2" value="取消任务" onclick="get_task_id()" disabled />
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<ul class="pager wizard">
									<li class="previous"><a href="#">返回</a></li>
								</ul>							
							</div>

					     </div>
					  </form>
				   </div>	
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="modal_group" tabindex="-1" role="dialog" aria-labelledby="ansible_group" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content" id="box">
        <!--此部分为主体内容，将远程加载进来-->
      </div>
   </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="modal_service" tabindex="-1" role="dialog" aria-labelledby="service_list" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content" id="box_service">
        <!--此部分为主体内容，将远程加载进来-->
      </div>
   </div>
</div>
{% endblock %}
{% block self_footer_js %}
<script type="text/javascript">
    $('#add_ab_group').on('click',function(){
	  app_type = document.checkform.app_type.value;
	  $('#modal_group').modal({
        show: true,
        backdrop: 'static',
        keyboard: 'false',
        remote:"{% url 'get_ansible_group' %}?app_type=" + app_type
		});
		$('#modal_group').on('hidden.bs.modal',function(){
			$(this).removeData("bs.modal");
		});
    });

	$('#add_service').on('click',function(){
      app_type = document.checkform.app_type.value;
	  $('#modal_service').modal({
        show: true,
        backdrop: 'static',
        keyboard: 'false',
        remote:"{% url 'get_service_list' %}?app_type=" + app_type
		});
		$('#modal_service').on('hidden.bs.modal',function(){
			$(this).removeData("bs.modal");
		});
    });
</script>
<script type="text/javascript">
	$('#preview_id').on('click',function(){
       	var filename = document.checkform.config.value;
		var app_name = document.checkform.app_name.value;
		window.open("{% url 'play_config_compare' %}?app_name="+app_name+"&filename="+filename);
		});
</script> 

<script>
	var XHR;    //定义一个全局对象
	function createXHR(){              //首先我们得创建一个XMLHttpRequest对象
		if(window.ActiveXObject){//IE的低版本系类
			XHR=new ActiveXObject('Microsoft.XMLHTTP');
		}else if(window.XMLHttpRequest){//非IE系列的浏览器，但包括IE7 IE8
			XHR=new XMLHttpRequest();
		}
	}
	function getfile(){
		var filename = document.checkform.config.value;
		var group = document.checkform.ab_group.value;
		var app_name = document.checkform.app_name.value;
		createXHR();    
		XHR.open("GET","{% url 'play_config_get' %}" + "?filename=" +filename+ "&path={{ file_path }}"+ "&app_name=" +app_name+ "&group=" +group,true);//true:表示异步传输，而不等send()方法返回结果
		XHR.onreadystatechange=getres;//当状态改变时，调用getres这个方法，方法的内容我们另外定义
		XHR.send(null);
	}
	function getres(){
		if(XHR.readyState == 4){
			if(XHR.status == 200){    
				var textHTML=XHR.responseText;   
				document.getElementById("config_id").style.display="";				
				document.getElementById('config_id').innerHTML=textHTML;
			}
		}
	}

</script>
<script type="text/javascript">
//set csrf
    $.ajaxSetup({headers: {"X-CSRFToken":'{{ csrf_token }}'}});
</script>
<script src="/static/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
<script src="/static/js/prettify.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
  	$('#wizard').bootstrapWizard({'tabClass': 'bwizard-steps'});
});
</script>
<script type="text/javascript">     
$('[name="exe_mode"]').bootstrapSwitch({
		onText:"串行",
		offText:"并行",
		onColor:"info",
		offColor:"success",
		size:"small"
		/*onSwitchChange:function(event,state){
			if(state==true){
				$(this).val("1");
			}else{
				$(this).val("2");
			}
		}*/
	})
</script> 
<script type="text/javascript">
   $(document).ready(function() {
	$('#save_id').click(function(){
		$.ajax({
			type:"post",
			url:'{% url "play_config_save" %}',
			data: $("form").serialize(),
			async:true,
			success: function(msg){
			swal(msg);
			},
			error: function(err){
				swal(err);
			}
		});
	return false;
	});
});
</script>
<script type="text/javascript">
   $(document).ready(function() {
		var read_flag = false;
		$('#start_id').click(function(){
		if($('#app_name').val() == "" || $('#ab_group').val() == "" ||$('#config_id').val() == ""){
				alert("请填写完整表单");
	
			}else{
				document.getElementById('start_id').disabled=true;
				document.getElementById('stop_id').disabled=false;
				var read_flag = true;
				var state = 'PENDING';
				var exe_mode = $('#exe_mode').bootstrapSwitch('state');
				var data = $("form").serialize() + "&exe_mode=" + exe_mode + "&action=exe";
				$("#status_id").val(state);
				$.ajax({
					type:"post",
					url:"{% url 'play_release_config' %}",
					data:data,
					async:true,
					success: function(result){
							//document.getElementById("result").style.display="";
						if(result['code'] == '500'){
						   document.getElementById('start_id').disabled=false;
						   window.wxc.xcConfirm(result['error'], window.wxc.xcConfirm.typeEnum.error);
						}else{
							$("#task_id").val(result['task_id']);
							read_log({'seek': 0 , 'task_id': result['task_id'], 'log_file': result['log_file'], 'job_name':result['job_name'], 'app_type':result['app_type'], 'inventory':result['inventory']});
							$('#task_result').html("start read ...").show();
						}
					},
					error: function(err){
						document.getElementById('start_id').disabled=false;
						window.wxc.xcConfirm('运行失败', window.wxc.xcConfirm.typeEnum.error);
					}
				});
			}
		});	
	});

function read_log(data){
   	$.ajax({
		type:"post",
		url:"{% url 'play_read_ansible_log' %}",
		data:data,
		async:true,
		success: function(result){
		    var msg=JSON.parse(result);
			$('#task_result').html(msg.logs).show();
			if(msg.state == 'REVOKED'){
			    $("#status_id").val(msg.state);
				$('#task_result').html('end read').show();
				var read_flag = false;
				return;
			};
			state = msg.state;
			if(state == "SUCCESS"){
				$("#status_id").val("FINISHED");
			}else{
				$("#status_id").val(state);
			}
			read_flag = msg.read_flag;
			if(read_flag == false){
				swal({
				  title: "任务已完成",
				  text: "5秒后,自动关闭 ...",
				  timer: 5000
				});;
				document.getElementById("task_result").scrollTop=document.getElementById("task_result").scrollHeight;
                //$('#task_result').html("end read").show();
			}else{
				setTimeout(function() { read_log(data)}, 2000);  // wait every 5 second to read log
				if(document.getElementById("task_result").scrollTop + 1000>=document.getElementById("task_result").scrollHeight || document.getElementById("task_result").scrollTop == 0){
					setTimeout(function(){
						document.getElementById("task_result").scrollTop=document.getElementById("task_result").scrollHeight;
					},100);
				}
			}
		},
		error: function(err){
            swal(err);
        }
	});



}

function get_task_id(){
	swal({
	  title: "确定取消该任务?",
	  text: "取消任务后将停止执行,请谨慎操作!",
	  type: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#ed5565",
	  confirmButtonText: "是的,取消它!",
	  cancelButtonText: "我再想想吧...",
	  closeOnConfirm: false,
	  closeOnCancel: false
	},
	function(isConfirm){
	  if (isConfirm) {
		var task_id = document.getElementById("task_id").value;
		data = {"task_id": task_id}
		$.ajax({
			type:"post",
			url:"{% url 'revoke_ansible_task' %}",
			data:data,
			async:true,
			success: function(result){
				if(result['code'] == '200'){
				      swal(result['message'], result['message'], "success");
				}else{
				      swal(result['message'], result['message'], "error");
				}
			},
			error: function(err){
				swal(err);
			}
		});
	 
	  } else {
		swal("取消操作", "您已取消停止任务的操作 :)", "error");
	  }
	});


}
</script>
{% endblock %}